<p>This is a quote by {{ quote.name }}</p>
<p>Published on {{quote.publishDate|date}} by {{quote.publisher}}</p>
<button class="btn btn-success btnspace" (click)='like()' type="button" name="button">
    <span class="fa fa-thumbs-up"></span> Likes: {{upvote}} </button>

<button class="btn btn-danger btnspace" (click)='hate()' type="button" name="button" style="margin-left:2.5em">
    <span class="fa fa-thumbs-down"></span> Dislikes: {{downvote}}</button>
<button class="btn btn-danger" (click)='quoteComplete(true)' style="margin-left:2.5em"> Delete </button>